body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}
.app {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
}

/*
Navbar css
*/
.home-button-nav {
  display: flex;
  align-items: flex-end;
}

/*
Home page css
*/
.home-text {
  justify-content: center;
  display: flex;
  flex-flow: center;
  margin-top: 3em;
}
